body {
    color: #fff;
    text-align: center;
    font-family: "Arial";
    background-color: #26292a;
}

img {
    image-rendering: pixelated;
}

.main {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #1e2122;
}

.row > * {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.btn-group {
    width: 100%;
}

.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-first {
    border-top-left-radius: 10px;
}