body {
    font-family: "Arial";
    background-color: #26292a;
}

h1,
p {
    color: #fff;
}

h1 {
    text-align: center;
}

div {
    justify-content: center;
    align-items: center;
    display: flex;
}

main {
    background-color: #1e2122;
    padding: 25px;
}

main canvas {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    color: #ffffff;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}